%header
  %nav.wrap
    where is
%main
  #watchers
    %h1 Watching
    %ul
      - @watchers.each do |watcher|
        %li= link_to watcher.name, '#', target: '_blank'
    = link_to 'Add', new_watcher_path, class: 'button'
