%header
  %nav.wrap
    %ul
      %li= link_to "Where is", "/",{:class => "logo"}
%main
  #watchers
    %h1 Watchers
    %ul
      - 5.times.each do
        %li= link_to 'name', '#', target: '_blank'
    =link_to 'Add', '#', { class: 'button' }
